%h1="#{@month.first_date.year}年#{@month.first_date.month}月"

%h2="入金#{nwd(@month.income(true))}円（口座移動は無視）"
%h2="出金#{nwd(@month.expense)}円（口座移動は無視）"

%h2="収支#{nwd(@month.profit)}円（SBIのみで計算）"
%h2="残高#{nwd(@month.balance)}円（SBI+三井住友。みずほと現金は含まず）"

- HareruyaFreee::Walletable.actives.each do |walletable|
  - groups = {}
  - txns = HareruyaFreee::WalletTxn.where(hareruya_freee_walletable_id: walletable.id).where("date <= ?", @month.last_date).where("date > ?", @month.first_date)
  %h2
    =walletable.name
    ="(#{nwd txns.map{|t| t.amt}.reduce(:+)}円)"
  売上：
  ="#{nwd txns.select{|t| t.entry_side == 'income'}.map{|t| t.amt}.reduce(:+)}円"
  %br
  経費：
  ="#{nwd txns.select{|t| t.entry_side == 'expense'}.map{|t| t.amt}.reduce(:+)}円"
  %br
  %table.table.table-bordered
    %tr
      %th wallet_txn.id
      %th=t(:issue_date)
      %th パートナー名
      %th entry_side
      %th=t(:amount)
      %th 残高
    - txns.each do |txn|
      - groups[txn.description] ||= 0
      - groups[txn.description] += txn.amt
      %tr
        %td= txn.id
        %td= txn.date
        %td
          = txn.description
          = "(みずほ銀行で社会保険)" if txn.description.match(/振込＊ラフノート（カ/)
        %td= nwd txn.entry_side
        %td
          = nwd txn.amt
        %td= nwd txn.balance
  - groups.to_a.sort{|a, b| b.last <=> a.last}.each do |group|
    = "#{group.first}: #{group.last}"
    %br
    

