%table.table.table-bordered
  %tr
    %th 年
    %th 月
    %th memo
    - Plan.cols.each do |col| 
      %th=col
  - @plan.years.each do |year|
    - next unless year.months.present?
    %tr
      %td{rowspan: 13}
        %h2
          = year.year
        %br
        %br
        = year.memo
        %table.table.table-bordered
          %tr
            - Plan.cols.each do |col| 
              %th=col
          %tr
            - Plan.cols.each do |col|
              %td
                - begin
                  =nwd year.cols[col]
                - rescue

      - year.months.each do |month|
        %tr
          %td
            = link_to month.first_date.month, month_path(month)
          %td
            = month.memo
          - Plan.cols.each do |col|
            - val = month.cols[col]
            - style = val && val < 0 ? 'background: #fc0' : ''
            %td{style: style}
              = nwd month.cols[col]


